*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -webkit-focus-ring-color: transparent;
}

:root{
    --bg-color: rgb(229, 237, 245); /* for background */
    --primary-color: rgb(38, 51, 74); /* for sidebar */
    --white-color: rgb(245, 245, 245); /* for white text in sidebar */
    --text-color: black; /* for main text */
    --highlight-color: rgba(83, 46, 46, 0.095); /* for notes */
    --accent-color: rgb(15, 42, 59); /* for star */
}

body{
    font-family: 'Poppins', sans-serif;
}

.blurrer{
    filter: blur(10px);
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}

.blurrer.active{
    opacity: 1;
    visibility: visible;
}

/* ------------------------ Preloader ----------------------------- */

.preloader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999999;
    opacity: 1;
    transition: all 0.5s ease;
}

.preloader.hidden{
    opacity: 0;
    visibility: hidden;
}

.preloader img{
    width: 80px;
    transition: all 0.3s ease;
    margin-right: 20px;
    animation: checkmarkScaling 1.5s ease;
}

.preloader h1{
    font-size: 4rem;
    color: #00a0e9;
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
    animation: headerScaling 1.5s ease;
}

@keyframes checkmarkScaling {
    0% {
        opacity: 0;
        transform: translateX(-100px) scale(3);
    }
    20% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translateX(0) scale(1);
    }
}

@keyframes headerScaling {
    0% {
        opacity: 0;
        transform: translateX(10px) scale(0.9);
    }
    20% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translateX(0px) scale(1);
    }   
}

/* ---------------------------- APP ------------------------------ */

.todo-app{
    height: 100svh;
    background: var(--bg-color);
    transition: all 0.3s ease;
    overflow: hidden;
    display: flex;
}

/* ------------------------------ Sidebar ------------------------- */

.navbar{
    background: var(--primary-color);
    color: var(--white-color);
    position: fixed;
    bottom: 2px;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    display: flex;
    justify-content: center;
    padding: 0 20px;
    padding-bottom: 5px;
    z-index: 99;
    border-radius: 30px;
}

.navbar .element{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 120px;
    gap: 5px;
    padding: 17px 0;
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease;
}

.navbar .element i{
    position: relative;
}

.navbar .element i .counter{
    position: absolute;
    bottom: 0;
    right: -20px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .6rem;
    color: rgba(255, 255, 255, 0.498);
}

.navbar .element::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    height: 4px;
    background: rgba(171, 206, 249, 0.53);
    opacity: 0;
    border-radius: 10px;
    transition: opacity 0.2s ease;
}

.navbar .element.active::before{
    opacity: 1;
}

.navbar .element:hover:not(.active){
    transform: translateY(-3px);
}
.navbar .element:hover:not(.active)::before{
    opacity: .4;
}

/* ------------------------- Main ------------------------------ */

main{
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
}

/* --------------------- Header ---------------------------------- */

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 20px 0;
}

header h1 img {
    width: 70px;
    transition: all 0.3s ease;
}

header h1{
    font-size: 4rem;
    color: #00a0e9;
    display: flex;
    align-items: center;
    gap: 20px;
    transition: all 0.3s ease;
}

header #new-note-button{
    padding: 12px 25px;
    background: var(--primary-color);
    color: var(--white-color);
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 15px;
}

/* ------------------------- Add Note Modal ---------------------- */

.add-note-modal{
    width: 490px;
    background: var(--primary-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 10px;
    display: none;
    z-index: 9999;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}

.add-note-modal.show{
    display: flex;
}

.add-note-modal span{
    color: var(--white-color);
    font-size: 1.2rem;
}

.add-note-modal #close-modal-button{
    position: absolute;
    top: 20px;
    left: 20px;
    color: var(--white-color);
    cursor: pointer;
    font-size: 1.2rem;
}

.add-note-modal #new-note-input{
    width: 100%;
    padding: 10px;
    border: 2px solid var(--primary-color);
    outline: none;
    border-radius: 5px;
    font-size: 1.2rem;
}

.add-note-modal .wrapper{
    display: grid;
    grid-template-columns: repeat(2, .5fr);
    gap: 30px;
    align-items: center;
    place-items: center;
}

.add-note-modal .wrapper #modalDateInput{
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 1.1rem;
    opacity: .4;
    transition: all 0.3s ease;
    width: 120px;
}

.add-note-modal .wrapper #modalDateInput:hover{
    opacity: .8;
}
.add-note-modal .wrapper #modalDateInput:focus-within{
    opacity: 1;
}
.add-note-modal .wrapper #modalDateInput.selected{
    opacity: 1;
}

.add-note-modal .wrapper #modalFavoriteStar{
    cursor: pointer;
    font-size: 1.5rem;
    opacity: 0.4;
    color: rgb(255, 255, 255);
    transition: all 0.3s ease;
}

.add-note-modal .wrapper #modalFavoriteStar:hover{
    opacity: 0.8;
}
.add-note-modal .wrapper #modalFavoriteStar.active{
    opacity: 1;
    color: rgb(231, 180, 9);
}
.add-note-modal .wrapper #modalFavoriteStar.animate{
    animation: starBounce 0.5s ease; /* plays on click */
}

.add-note-modal #add-note-button{
    padding: 10px 20px;
    background: #0180bb;
    color: var(--white-color);
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    width: fit-content;
    margin: auto;
}

/* ----------------------------- Todo List ----------------------- */

.todo-list {
    flex: 1;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.5) transparent;
    padding: 0 50px;
    margin-bottom: 10px;
}

.todo-list::-webkit-scrollbar {
    width: 7px;
}
.todo-list::-webkit-scrollbar-track {
    background: transparent;
}
.todo-list::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}
.todo-list::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.todo-list .section{
    display: none; /* initially hidden */
}
.todo-list .section.show{
    display: block;
}

.todo-list .section .item{
    padding: 15px 30px;
    padding-right: 300px;
    display: flex;
    align-items: center;
    gap: 30px;
    position: relative;
    font-size: 1.2rem;
    color: var(--text-color);
    background: var(--highlight-color);
    transition: all 0.3s ease;
    margin-bottom: 2px;
}

.todo-list .section .item .note-text{
    flex: 1;
    overflow: hidden;
    word-wrap: break-word;
}

.todo-list .section .item i{
    cursor: pointer;
    font-size: 1.1rem;
}

.todo-list .section .item i.fa-star{
    opacity: 0.22;
}
.todo-list .section .item i.fa-star:hover{
    opacity: 0.6;
}
.todo-list .section .item i.fa-star.active{
    opacity: 1;
    color: rgb(231, 180, 9);
}
.todo-list .section .item i.fa-star.animate{
    animation: starBounce 0.5s ease; /* plays on click */
}

@keyframes starBounce{
    0%, 40%, 80%{
        transform: scale(1);
    }
    20%, 60%, 100%{
        transform: scale(1.2);
    }
}

.todo-list .section .item input{
    opacity: .3;
    position: absolute;
    right: 85px;
    background: none;
    border: none;
    outline: none;
    color: var(--text-color);
    font-size: 1rem;
    width: 90px;
    transition: all 0.3s ease;
}

.todo-list .section .item input:hover{
    opacity: 0.8;
}
.todo-list .section .item input:focus-within{
    opacity: 1;
}
.todo-list .section .item input.datepicker[value]:not([value=""]) {
    opacity: 1;
}

.todo-list .section .item i.fa-trash{
    position: absolute;
    right: 30px;
}

.todo-list .section .item .date-label{
    font-size: .9rem;
    opacity: .3;
    position: absolute;
    right: 190px;
    color: var(--text-color);
    transition: all 0.3s ease;
    cursor: pointer;
}
.todo-list .section .item input:hover + .date-label{
    opacity: 0.8;
}
.todo-list .section .item input:focus-within + .date-label{
    opacity: 1;
}
.todo-list .section .item input.datepicker[value]:not([value=""]) + .date-label {
    opacity: 1;
}

/* ------------------------------- Media Querys -------------------------- */

@media (max-width: 1300px){
    .todo-list{
        margin-bottom: 85px;
    }
    .navbar{
        width: 100vw;
        bottom: 0;
        border-radius: 0;
    }
}

@media (max-width: 900px){
    header h1 img {
        width: 50px;
    }
    
    header h1{
        font-size: 3rem;
        gap: 15px;
    }
    
    header #new-note-button{
        padding: 10px 20px;
        font-size: 1.2rem;
    }

    .todo-list{
        padding: 0 20px;
    }
    .todo-list .section .item{
        padding: 15px 20px;
        font-size: 1.1rem;
        padding-right: 260px;
    }

    .todo-list .section .item i.fa-trash{
        right: 20px;
    }
    .todo-list .section .item input{
        right: 50px;
    }
    .todo-list .section .item .date-label{
        right: 160px;
    }
}

@media (max-width: 550px){
    .preloader img{
        width: 50px;
        margin-right: 20px;
    }
    
    .preloader h1{
        font-size: 3rem;
    }

    .navbar{
        padding: 0 10px;
        padding-bottom: 5px;
    }

    .navbar .element{
        font-size: .9rem;
    }

    .navbar .element i .counter{
        font-size: .5rem;
    }

    .add-note-modal{
        width: 90%;
        gap: 35px;
    }

    .add-note-modal #new-note-input{
        font-size: 1rem;
    }

    .add-note-modal span{
        font-size: 1rem;
    }

    .add-note-modal .wrapper #modalDateInput{
        font-size: 1rem;
        width: 110px;
    }

    .add-note-modal .wrapper #modalFavoriteStar{
        font-size: 1.4rem;
    }

    .add-note-modal #add-note-button{
        font-size: 1rem;
    }

    header{
        gap: 20px
    }

    header h1 img {
        width: 30px;
    }
    
    header h1{
        font-size: 2rem;
        gap: 10px;
    }

    header #new-note-button{
        padding: 10px 20px;
        font-size: 1rem;
    }

    .todo-list{
        padding: 0 10px;
        margin-bottom: 80px;
    }

    .todo-list .section .item{
        padding: 15px;
        font-size: 1rem;
        gap: 15px;
        padding-right: 160px;
    }

    .todo-list .section .item i{
        font-size: 1rem;
    }

    .todo-list .section .item i.fa-trash{
        right: 15px;
    }
    .todo-list .section .item input{
        right: 40px;
        font-size: .9rem;
    }
    .todo-list .section .item .date-label{
        display: none;
    }
}

@media (max-width: 400px){
    .navbar{
        padding: 0;
        padding-bottom: 5px;
    }
}

@media (max-width: 350px){
    html{
        display: none;
    }
}