*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: rgb(40, 38, 74);
    --bg-color: rgb(229, 237, 245);
    --bg-color-alt: rgba(25, 25, 62, 0.095);
    --light-color: rgb(245, 245, 245); /* white text color */
    --accent-color: rgb(76, 99, 190);
}

body{
    font-family: 'Poppins', sans-serif;
}

.preloader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
    opacity: 1;
    transition: all 0.5s ease;
}
.preloader img{
    width: 80px;
    filter: hue-rotate(40deg);
    transition: all 0.3s ease;
    margin-right: 20px;
    animation: checkmarkScaling 1.5s ease;
}
.preloader h1{
    font-size: 4rem;
    color: #607eff;
    display: flex;
    align-items: center;
    gap: 30px;
    transition: all 0.3s ease;
    animation: headerScaling 1.5s ease;
}
.preloader.hidden{
    opacity: 0;
    visibility: hidden;
}

@keyframes checkmarkScaling {
    0% {
        opacity: 0;
        transform: translateX(-100px) scale(3);
    }
    100% {
        opacity: 1;
        transform: translateX(0) scale(1);
    }
}
@keyframes headerScaling {
    0% {
        opacity: 0;
        transform: translateX(10px) scale(0.9);
    }
    100% {
        opacity: 1;
        transform: translateX(0px) scale(1);
    }   
}

.todo-app{
    height: 100vh;
    background: var(--bg-color);
    transition: all 0.3s ease;
}

header{
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    transition: all 0.5s ease;
    margin-bottom: 5vh;
}

header img {
    width: 70px;
    filter: hue-rotate(40deg);
    transition: all 0.3s ease;
}

header h1{
    font-size: 4rem;
    color: #607eff;
    display: flex;
    align-items: center;
    gap: 30px;
    transition: all 0.3s ease;
}

header #new-note-button{
    padding: 12px 25px;
    background: var(--primary-color);
    color: var(--light-color);
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 15px;
}

.add-note-modal{
    width: 500px;
    height: 250px;
    background: var(--primary-color);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 10px;
    display: none;
    z-index: 99;
}

/* modal shown if open class is added by clicking the new-note-button */
.add-note-modal.show{
    display: block;
}

/* blur class blurrs background when modal is open */
.blur{
    filter: blur(10px);
    transition: all 0.5s ease;
    pointer-events: none; /* to ignore clicks on the blurred elements */
}

.add-note-modal span{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light-color);
    font-size: 1.2rem;
}

.add-note-modal #close-modal-button{
    position: absolute;
    top: 20px;
    left: 20px;
    color: var(--light-color);
    cursor: pointer;
    font-size: 1.2rem;
}

.add-note-modal #new-note-input{
    width: 100%;
    padding: 10px;
    margin: 30px 0;
    border: 2px solid var(--primary-color);
    outline: none;
    border-radius: 5px;
    font-size: 1.2rem;
}

.add-note-modal #add-note-button{
    padding: 10px 20px;
    background: var(--accent-color);
    color: var(--light-color);
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    display: inline-block;
    position: absolute;
    bottom: 20px;
    right: 50%;
    transform: translateX(50%);
}

main{
    display: flex;
    height: 75vh;
}

/* Sidebar */
main .sidebar{
    width: 350px;
    background: var(--primary-color);
    padding: 10px 0;
    border-radius: 0 20px 0 0;
}

main .sidebar .account{
    padding: 15px 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 1.2rem;
    color: var(--light-color);
    position: relative;
    border-bottom: 1px solid rgba(199, 199, 224, 0.171);
    margin-bottom: 10px;
}

main .sidebar .account .darkmode-toggle .slide{
    position: absolute;
    right: 20px;
    top: 0;
    background: white;
    width: 100px;
    height: 40px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    cursor: pointer;
    box-shadow: inset 5px 5px 15px rgba(0, 0, 0, 0.1),
                inset -5px -5px 15px rgba(117, 105, 105, 0.7);
    box-shadow: inset 5px 5px 15px rgba(96, 88, 88, 0.1),
                inset -5px -5px 15px rgba(97, 91, 91, 0.7),
                0px 4px 6px rgba(83, 79, 79, 0.1);
}

main .sidebar .account .darkmode-toggle .slide .circle{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    left: 5px;
    background: rgb(193, 137, 48);
    transition: all 0.3s ease;
}

/* Transform Animation des Circle nur beim Umschalten nicht beim neu laden der Seite */
main .sidebar .account .darkmode-toggle .slide .circle.animate {
    transition: transform 0.3s ease;
}

main .sidebar .account .darkmode-toggle .slide i{
    font-size: 1.2rem;
    z-index: 2;
    transition: all 0.3s ease;
}
main .sidebar .account .darkmode-toggle .slide i.bx-sun{
    color: white;
}
main .sidebar .account .darkmode-toggle .slide i.bx-moon{
    color: black;
}

main .sidebar .element{
    padding: 15px 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 1.2rem;
    color: var(--light-color);
    position: relative;
    cursor: pointer;
}

main .sidebar .element i{
    font-size: 1.4rem;
    width: 20px;
}

main .sidebar .account i{
    font-size: 1.4rem;
    width: 20px;
}

main .sidebar .element:nth-child(2) i{
    color: rgb(209, 53, 53);
}
main .sidebar .element:nth-child(3) i{
    color: rgb(231, 180, 9);
}

main .sidebar .element::before{
    content: '';
    position: absolute;
    left: 5px;
    width: 4px;
    height: 100%;
    background: rgba(171, 206, 249, 0.53);
    display: none;
}

main .sidebar .element.active::before{
    display: block;
}

main .sidebar .element .counter{
    position: absolute;
    right: 20px;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.498);
}

main .todo-list {
    flex: 1;
}

main .todo-list .wrapper{
    width: 99%;
    max-height: 100%;
    overflow: auto;
    background: var(--bg-color-alt);
    transition: all 0.3s ease;
    margin: 0 auto;
    border-radius: 20px;
    scrollbar-width: thin; /* Dünne Scrollbar in Firefox */
    scrollbar-color: rgba(22, 181, 213, 0.338) transparent; /* Daumenfarbe und Trackfarbe in Firefox */
}

/* Scrollbar Breite (für vertikale Scrollbars) */
main .todo-list .wrapper::-webkit-scrollbar {
    width: 7px;  /* Breite der vertikalen Scrollbar */
}

/* Track der Scrollbar */
main .todo-list .wrapper::-webkit-scrollbar-track {
    background: transparent; /* Farbe des Tracks */
}

/* Daumen der Scrollbar */
main .todo-list .wrapper::-webkit-scrollbar-thumb {
    background-color: rgba(22, 181, 213, 0.338); /* Farbe des Scroll-Daumen */
    border-radius: 10px;
}

/* Hover-Effekt auf dem Scroll-Daumen */
main .todo-list .wrapper::-webkit-scrollbar-thumb:hover {
    background-color: rgba(22, 181, 213, 0.518); /* Farbe, wenn die Maus über den Daumen fährt */
}

/* initially hidden and only shown when the corresponding sidebar link is clicked */
main .todo-list .section{
    display: none;
}
main .todo-list .section.show{
    display: block;
}

main .todo-list .section .item{
    padding: 15px 30px;
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;
    font-size: 1.2rem;
    color: var(--primary-color);
    transition: all 0.3s ease;
}

main .todo-list .section .item i{
    cursor: pointer;
}

main .todo-list .section .item i.fa-star{
    opacity: 0.22;
}
main .todo-list .section .item i.fa-star:hover{
    opacity: 0.6;
}
main .todo-list .section .item i.fa-star.active{
    opacity: 1;
    color: rgb(231, 180, 9);
}
main .todo-list .section .item i.fa-star.animate{
    animation: starBounce 0.5s ease; /* plays on click */
}

@keyframes starBounce{
    0%, 40%, 80%{
        transform: scale(1);
    }
    20%, 60%, 100%{
        transform: scale(1.2);
    }
}

main .todo-list .section .item i.fa-trash{
    position: absolute;
    right: 30px;
}





/* darkmode settings */
body.darkmode{
    --bg-color: rgb(15, 14, 39); /* überschreibt die Variable */
    --bg-color-alt: rgba(255, 255, 255, 0.095); /* überschreibt die Variable */
} 
body.darkmode main .sidebar .account .darkmode-toggle .slide .circle {
    background: rgb(40, 38, 74);
    transform: translateX(60px); /* Circle bewegt sich nach rechts */
}
body.darkmode main .sidebar .account .darkmode-toggle .slide i.bx-sun{
    color: black;
}
body.darkmode main .sidebar .account .darkmode-toggle .slide i.bx-moon{
    color: white;
}
body.darkmode main .todo-list .section .item{
    color: var(--light-color);
}
body.darkmode header img{
    filter: hue-rotate(0deg);
}
body.darkmode header h1{
    color: #00a0e9;
}
body.darkmode .preloader img{
    filter: hue-rotate(0deg);
}
body.darkmode .preloader h1{
    color: #00a0e9;
}